[project]
	description = Proxy Soap
[access "refs/*"]
	owner = group user/JLM (nomadeous)
[access "refs/for/refs/*"]
	read = group user/JLM (nomadeous)
	push = group user/JLM (nomadeous)
	label-Code-Review = -2..+2 group user/JLM (nomadeous)
	label-Verified = -1..+1 group user/JLM (nomadeous)
	rebase = group user/JLM (nomadeous)
	removeReviewer = group user/JLM (nomadeous)
	submit = group user/JLM (nomadeous)
[access "refs/heads/*"]
	read = group user/JLM (nomadeous)
	create = group user/JLM (nomadeous)
	push = +force group user/JLM (nomadeous)
	pushMerge = group user/JLM (nomadeous)
[access "refs/tags/*"]
	push = +force group user/JLM (nomadeous)
	pushTag = group user/JLM (nomadeous)
	pushSignedTag = group user/JLM (nomadeous)
