<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.jlm.tools.proxy.soap.startup.ApplicationInitListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FrontEndServlet</servlet-name>
        <servlet-class>org.jlm.tools.proxy.soap.frontend.FrontEndServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UIServlet</servlet-name>
        <servlet-class>org.jlm.tools.proxy.soap.frontend.UIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontEndServlet</servlet-name>
        <url-pattern>/frontend/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UIServlet</servlet-name>
        <url-pattern>/ui</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ui</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/views/jsp/soap-fault-client.jsp</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/WEB-INF/views/jsp/soap-fault-server.jsp</location>
    </error-page>
</web-app>
